/* Estilos para el panel de administración */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

/* Estilos para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  header {
      padding: 10px;
  }

  header h1 {
      font-size: 24px;
  }

  nav ul li {
      margin-right: 10px;
  }

  main {
      margin: 10px;
  }
}

/* Estilos para las tarjetas de productos */
.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); /* 3 columnas con espacio entre ellas */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
  font-size: 18px;
  margin-top: 0;
}

/* Estilos para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .product-card {
      width: calc(50% - 20px); /* 2 columnas con espacio entre ellas */
  }
}
